.main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: bigger 1.5s forwards;
}

.mainsection__download img {
  width: 240px;
  position: absolute;
  bottom: 0px;
  right: -50px;
}

.rider {
  position: absolute;
  right: 0;
  width: 170px;
}

@media only screen and (max-width: 1480px) {
  .rider {
    width: 120px;
  }
}

@keyframes bigger {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
