@import url(reset.css);
@import url(header.css);
@import url(mainsection.css);
@import url(section.css);
@import url(page.css);
body {
  width: 100%;
  height: 100vh;
}

.inner {
  width: 865px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
